{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('include/navigation.html.twig') }}
    <div class="confirmintro">
        <h4>Mentions légales</h4>
        <p>D’après la loi n°2004-575 du 21 juin 2004, les mentions légales doivent apparaitre sur un site internet afin de donner des informations sur l’entreprise et sur l’utilisation des données.</p>
    </div>
    <div class="mentions">
        <h4>Identification de l’entreprise</h4>
        <ul>
            <li>Nom de l’entreprise : Good Diag Immo
            </li>
            <li>Propriétaire :
            </li>
            <li>N° SIRET :
            </li>
            <li>N° TVA :
            </li>
            <li>Forme juridique :
            </li>
            <li>Adresse mail : <a href="mailto:"></a>
            </li>
            <li>Personne en charge de la publication :
            </li>
            <li>Hébergeur du site :
            </li>
            <li>Création du site : Agence Backstages
            </li>
        </ul>
    </div>
    <div class="mentions">
        <h4>Utilisation des cookies</h4>

        <p>Un cookie est un petit fichier informatique, un traceur. Il permet d’analyser le comportement des usagers lors de la visite d’un site internet, de la lecture d’un courrier électronique, de l’installation ou de l’utilisation d’un logiciel ou d’une application mobile.</p>

        <p>Ce site utilise un service d’analyse d’audience qui génère donc des cookies. Il va permettre d’analyser le comportement de vos usages lors de la visite de notre site internet, et ainsi d’améliorer votre expérience. Dés que vous arrivez sur le site internet, un bandeau en bas de page s’affiche afin de vous demander votre consentement pour que ce service analyse votre visite sur le site.</p>

        <p>Sachez que la durée de validité du consentement donné dans ce cadre est de 13 mois maximum.
            Tous les 13 mois, nous redemandons un consentement des visiteurs du site internet pour le traitement des cookies.</p>
    </div>

    <div class="mentions">
        <h4>Utilisation des données personnelles collectées</h4>

        <p>Sur le site internet, nous avons mis en place différents types de formulaires qui récupèrent vos données personnelles :</p>

        <p>Formulaire de contact : Votre nom, prénom, adresse e-mail et numéro de téléphone vont nous permettre de répondre à votre demande et de vous contacter suite à votre prise de contact.</p>

        <p>À la fin de chaque formulaire, nous vous demandons votre consentement afin de collecter et conserver vos données personnelles.</p>

    </div>

    <div class="mentions">
        <h4>Transmission de vos données personnelles</h4>

        <p>Vous pouvez nous écrire à l’adresse <a href="mailto:"></a> concernant toutes vos questions sur la protection de vos données personnelles.</p>

        <p> Les données récoltées ne sont ni collectées ni utilisées par des services tiers.</p>

    </div>

    <div class="mentions">
        <h4>Durées de stockage de vos données</h4>

        <p>Nous supprimons automatiquement toutes les données personnelles des personnes inactives depuis 3 ans de notre base de données.</p>


        <p>Vous pouvez demander, à tout moment, la suppression, la rectification ou la restitution de vos données personnelles. Nous réaliserons cette action dans un délai d’1 mois.</p>

        <p> Vous pouvez faire une réclamation auprès de la CNIL, si vos droits ne sont respectés.</p>

    </div>




    {{ include('include/trust.html.twig') }}
    {{ include('include/footer.html.twig') }}
{% endblock %}