{% block title %}Good Diag Immo - Erreur 404{% endblock %}

{% block body %}

<div class="quatre">
    <h1>Page 404</h1>
    <p>Oups.. Cette page n'existe pas, cliquez <a href="../">ici</a> pour revenir à l'accueil.</p>
</div>
{% endblock %}